@use "../Variables";

.current-weather-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 180px;
  width: 250px;
  padding: 0 20px;
  box-shadow: 0 4px 8px 0 Variables.$blackColor;
  border-radius: 20px;

  &__info {
    display: flex;
    align-items: center;

    &--temp {
      font-size: 20px;
    }
  }
}
